@import url("https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap");
:root {
  --main-bg-color: #f1e8e8;
  --main-color: 000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Bellota Text", cursive;
  color: var(--main-color);
  overflow: hidden;
  padding: 40px;
}
.menu {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: space-between;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  list-style: none;
}
.primary-nav {
  display: flex;
 
}

.primary-nav_menu,
.secondary-nav {
  display: flex; 
  list-style: none;
  position: relative;

}
.primary-nav_menu li{
    padding-right: 10px;
}

.primary-nav__menu li a{
    color: var(--main-color);
    text-decoration: none;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--main-color);
}
a:hover{
    text-decoration: underline;
}
.headers {
  display: flex;
  width: 100vw;
  height: 50vh;
  display: block;
  align-items: flex-end;
}
.headers h1,
.headers h2, .headers h3  {
  display: flex;
  height: 40vh;
  letter-spacing: 0.15em;
}
.headers h2,
.headers h3 {
  font-size: 30px;
}
.headers .typewriter h1 {
  align-items: flex-end;
  font-size: 50px;
  line-height: 70px;
  top: 50vh;
  height: 70px;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  /*margin: 0 auto;*/
  letter-spacing: 0.15em;
  width:40%;
   animation: typing 2.5s steps(30, end), blink-caret 0.25s step-end 15;
}
.bell {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid var(--main-color);
  font-size: 50px;
  color: var(--main-color);
  text-align: center;
  line-height: 80px;
  transition: 0.2s;
  cursor: pointer;
}

.bell i {
  animation: rotate 0.3s 60s linear infinite alternate;
  transform-origin: 50% 0;
  transition: 0.2s;
}

.bell:hover {
  background-color: var(--main-color);
}

.bell:hover i {
  color: white;
  animation-duration: 0.15s;
  /* animation-play-state: paused; */
  /* animation: none; */
}
.mainImage img{
    height: 50%;
    position: absolute;
    top: 30%;
    z-index: -1;
    opacity: 50%;

}

@keyframes rotate {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}
 

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
