* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 100vh;
  filter: contrast(0.3);
  background-image: url("http://websamuraj.pl/examples/yt/scrollHeader/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.intro {
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
  top: 50%;
  color: black;
  filter: contrast(1);
  z-index: 10;
  
}


h1 {
  font-size: 60px;
  color: blue;
  animation: h1 1s;
}
@keyframes h1 {
    0%{
        transform: scale(2.5,2.5);
    }
    100%{
        transform: scale(1,1);
    }
}
h2 {
  font-size: 40px;
  color: blue;
  animation: h2 1s;
  transform: scale(1,1) translateY(0);
  position: relative;
 
}
@keyframes h2 {
    0%{
        transform: scale(0.5,0.5) translateY(-700px);
    }
    100%{
        transform: scale(1,1) translateY(0);
    
    }
}
main {
  min-height: 150vh;
  background-color: #000;
}

.side-menu {
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 1;
  color: #045be4;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  align-content: center;
  height: 100%;
}
.sidebar {
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 20px;
}

.menu,
li {
  list-style: none;
}

.side-menu li {
  display: flex;
  align-items: right;
  margin: 0 0 5px 0;
  padding: 10px 10px 10px 15px;
  color: orange;
}
.side-menu .text {
  visibility: hidden;
}
.side-menu li:hover .text {
  visibility: visible;
}

.side-menu li:hover {
  background: orange;
  color: white;
  cursor: pointer;
  width: 150px;
  animation: width 0.5s linear;
  border-radius: 10%;
}
@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 150px;
  }
}
.icon {
  margin-right: 40px;
  max-width: 30px;
  font-size: 1.2em;
  display: flex;
}

.side-menu li i {
  width: 20px;
}

.social-media {
  bottom: 0%;
  left: 0;
  text-align: right;
  list-style: none;
  padding-right: 10px;
}
.social-media a {
  color: orange;
}
.social-media li {
  font-size: 25px;
  background-color: #fea5001f;
}

.menu {
  opacity: 1;
  position: fixed;
  z-index: 1;
}

.contact{
    position: fixed;
    top:50%;
    left:0;
    text-transform: uppercase;
    transform: rotate(-90deg);
    color: orange;
    padding-top: 0px;
    font-size: 20px;
    animation: contact-show 2s linear;
}
@keyframes contact-show{
    0%{left:-10%;}
    100%{left:0;}
}
.portfolio{
        position: fixed;
        top:50%;
        right:0;
        text-transform: uppercase;
        transform: rotate(90deg);
        color: orange;
        padding-top: 0px;
        font-size: 20px;
        animation: portfolio-show 2s linear;
}

@keyframes portfolio-show{
    0%{right:-10%;}
    100%{right:0;}
}
.line{
    position: fixed;
    top: calc(50vh + 150px);

    z-index: 0; 
    width: 0.5px;
    height: 500px;
    transform: rotateX(-180deg);
    background: linear-gradient(0deg, #fda505, #ffffff00);
    margin: auto;
    margin-left: 2%;
}